body {
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-rows: 1.5fr 7.5fr;
}

.header{
    grid-column: 1 / span 2;
    background-color: rgb(47, 46, 46);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.header .title{
    color: white;
    font-size: 50px;
}

.header .logo{
    width: 50px;
    height: 50px;
    background-image: url(./img/todo.svg);
    margin-left: 20px;
}

.project-list{
    max-width: 300px;
    padding: 10px;
    background-color: rgb(208, 215, 222);
}

.project , .add-project{
    padding: 10px 10px 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-title {
    margin-right: auto;
}

.project-list .title{
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.project-img {
    background-image: url(./img/project.svg);  
}

.project-delete {
    background-image: url(./img/delete.svg);
}

.project-add {
    background-image: url(./img/add.svg);
}

.item-list{
    
    background-color: rgb(240, 243, 247);   
}
