body {
    font-size: 20px;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-rows: 1.5fr 7.5fr;
}

.header{
    grid-column: 1 / span 2;
    background-color: rgb(47, 46, 46);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.header .title{
    color: white;
    font-size: 50px;
}

.header .logo{
    width: 50px;
    height: 50px;
    background-image: url(./img/todo.svg);
    margin-left: 20px;
}

.project-list{
    max-width: 300px;
    padding: 10px;
    background-color: rgb(208, 215, 222);
}


.project , .add-project , .add-item , .item{
    border-radius: 5px;
    padding: 10px 10px 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.project:hover , .add-project:hover , .add-item:hover , .item:hover{
    background-color: rgba(142, 141, 141,0.3);
}

.project-title , .item-title {
    margin-right: auto;
}

.project-list .title , .item-list .title{
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.icon {
    width: 25px;
    height: 25px;
    background-size: cover;
}

.project-img {
    background-image: url(./img/project.svg);  
}

.project-delete , .item-delete{
    background-image: url(./img/delete.svg);
}

.project-add , .item-add{
    background-image: url(./img/add.svg);
}

.item-edit {
    background-image: url(./img/edit.svg);
}

.item-list{
    padding: 10px 30px;
    background-color: rgb(240, 243, 247);   
}

.item {
    gap: 30px;
}

.item .icon{
    width: 20px;
    height: 20px;
}

.item-detail{
    padding: 5px 10px;
    font-size: 15px;
}

.item-date{
    font-size: 18px;
}

.project-dialog .title {
    padding: 10px 20px;
    background-color: rgb(47, 46, 46);
    color: white;
    font-size: 30px;
}

.project-dialog {
    width: 400px;
    padding: 0px;
}

.project-dialog form {
    padding: 20px;
}

.project-title {
    display: flex;
    gap: 10px;
}

.project-dialog input{
    flex-grow: 1;
}

.project-dialog .buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 20px;
}

.project-dialog button{
    padding: 10px 20px;
    flex-grow: 1;
}
